@model BL.Emp

<div>
    <hr />
    <table>
    <tr>
        <td>
           Отдел:
        </td>

        <td>
            @Html.DisplayFor(model => model.Dep.Name)
        </td>
    </tr>
    <tr>
        <td>
            Должность:
        </td>

        <td>
            @Html.DisplayFor(model => model.Pos.Name)
        </td>
    </tr>
    <tr>
        <td>
            Фамилия
        </td>

        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <td>
            Имя:
        </td>

        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>
            Отчество:
        </td>

        <td>
            @Html.DisplayFor(model => model.SName)
        </td>
    </tr>
    <tr>
        <td>
            Вн.тел.
        </td>

        <td>
            @Html.DisplayFor(model => model.InternalTel)
        </td>
    </tr>
    <tr>
        <td>
            Моб.тел.
        </td>

        <td>
            @Html.DisplayFor(model => model.MobileTel)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>

        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EmailPass)
        </td>

        <td>
            @Html.DisplayFor(model => model.EmailPass)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DomainPass)
        </td>

        <td>
            @Html.DisplayFor(model => model.DomainPass)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TrueCryptPass)
        </td>

        <td>
            @Html.DisplayFor(model => model.TrueCryptPass)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ERoomPass)
        </td>

        <td>
            @Html.DisplayFor(model => model.ERoomPass)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SkypeName)
        </td>

        <td>
            @Html.DisplayFor(model => model.SkypeName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SkypePass)
        </td>

        <td>
            @Html.DisplayFor(model => model.SkypePass)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.IcqName)
        </td>

        <td>
            @Html.DisplayFor(model => model.IcqName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.IcqPass)
        </td>

        <td>
            @Html.DisplayFor(model => model.IcqPass)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Gmail)
        </td>

        <td>
            @Html.DisplayFor(model => model.Gmail)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Mango)
        </td>

        <td>
            @Html.DisplayFor(model => model.Mango)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Comments)
        </td>

        <td>
            @Html.DisplayFor(model => model.Comments)
        </td>
    </tr>
    </table>
</div>

