@model BL.Emp

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Отдел:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dep.Name)
        </dd>

        <dt>
            Должность:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pos.Name)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Отчество:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SName)
        </dd>

        <dt>
            Вн.тел.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalTel)
        </dd>

        <dt>
            Моб.тел.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomainPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrueCryptPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrueCryptPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERoomPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERoomPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypePass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypePass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IcqName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcqName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IcqPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcqPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mango)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mango)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>

